[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "huggingfaceR"]
	path = huggingfaceR
	url = https://github.com/farach/huggingfacer
